.xam{
    background-color: rgb(222, 222, 222);
}
.noidung{
    display: flex;
}
.cach{
    margin-top: 30px;
}
.tuvan{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    width: 120px;
    height: 30px;
    border-radius: 5px;
}
.kt{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(222, 222, 222);
    color: black;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: 1px black solid;
}